@font-face {
  font-family: 'TT Commons Pro';
  src: url(./font/Demo_Fonts/Fontspring-DEMO-tt_commons_pro_black.otf);
}
.hero-section{
  padding-top: 80px; 
}
h1,
h2,
h3,
h4 {
  font-family: 'TT Commons Pro';
}
/* investment section starts here  */
.appartment {
  top: 25px;
  left: 28px;
}
/* card img  */
.card {
  overflow: hidden;
}
.card-img-top {
  transition: transform 0.3s ease-in-out;
}
.card:hover .card-img-top {
  transform: scale(1.1);
}
/* about us section  */
.about-card {
  max-width: 570px;
  width: 100%;
  position: absolute;
  bottom: 80px;
  right: 11px;
}
/* mega sections starts herer  */
.mega-card{
  max-width: 570px;
  width: 100%;
  position: absolute;
  bottom: 80px;
  left: 11px;
}
/* plan section starts here  */
.plan-section{
  background-image: url('images/home/offplan.png');
  background-position: center;
}
.plan-box{
  height: 400px;
  width: 600px;
}

@media (max-width: 992px) {
  .hamburger{
      position: absolute;
      top: 55px;
      left: 8px;
      width: 95%;
      padding: 10px 10px;
      background-color: #E3F2FF;
  }
  .plan-box{
    height: 250px;
    width: 400px;
  }
}
@media (max-width: 450px) {
  
  .plan-box{
    height: 200px;
    width: 300px;
  }
  .plan-box h1{
    font-size: 30px !important;
  }
  .plan-box a{
    font-size: 10px !important;
  }
}